@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

body {
background-color: whitesmoke;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}